<%= render 'shared/header' %>

<% if @current_user.events.any? %>
  <h3>Events (<%= @current_user.events.count %>)</h3>
  <ol>
    <%= render @events %>
  </ol>
  <%= will_paginate @events %>
<% end %>
